* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
database/migrations/2026_05_04_150000_create_modulos_table.php whitespace=-blank-at-eof

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
/database/database.sqlite export-ignore
/public/uploads export-ignore
